[commit]
    # gpgsign = true
    sshsign = true
[user]
    email = cycle.five@proton.me
    name = Cycle Five
    # Comment out to use gpg
    signingkey = /home/lothrop/.ssh/id_rsa
[core]
    editor = vim
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[credential]
    helper = store
[init]
    defaultBranch = master
[gpg]
    format = ssh
